*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden; /* To hide horizontal scrollbar */
}

/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
}

/* Header styles */
.gallery-page {
    height: 100%;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

/* Section for displaying blog images */
.blog-images-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.blog-image {
    max-width: calc(33.33% - 20px);
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Add more styles as needed */
